doctype html
html
	head(lang="en")
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="css/fonts.css")
	title Kvest room Kharkov
	body
	include var/var
		// start header block
		include section/header
		// end header block 

		main(class="main")
			
			// start section photo
			include section/photo
			// end section photo

			// start section reviews
			include section/reviews
			// end section reviews

			// start section entry
			include section/entry
			// end section entry

			// start section question
			include section/question
			// end section question

		// start section footer
		include section/footer
		// end section footer 
		

		// start section modal
		include section/modal
		// end section modal
