
section(class="section__entry")

	//start container

	div(class="container")
		h1(class="title") Записаться на игру

		// start block__entry

		div(class="block__entry")

			// start block__timetable
			div(class="block__timetable")
				p(class="date__timetable") Пн, 1 июля
				a(class="day__timetable", id="open__modal", href="#null") 10:00 - 11:00
				a(class="day__timetable", id="open__modal" href="#null") 11:15 - 12:15
				a(class="day__timetable", id="open__modal" href="#null") 12:30 - 13:30
				a(class="day__timetable", id="open__modal" href="#null") 13:45 - 14:45
				a(class="day__timetable", id="open__modal", href="#null") 15:00 - 16:00
				a(class="day__timetable", id="open__modal", href="#null") 16:15 - 17:15
				a(class="eventide__timetable", id="open__modal", href="#null") 17:30 - 18:30
				a(class="eventide__timetable", id="open__modal", href="#null") 18:45 - 19:45
				a(class="eventide__timetable", id="open__modal", href="#null") 20:00 - 21:00
				a(class="nigth__timetable", id="open__modal", href="#null") 21:15 - 22:15
				a(class="nigth__timetable", id="open__modal", href="#null") 22:30 - 23:30
			// end block__timetable
			
			div(class="block__timetable")
				p(class="date__timetable") Вт, 2 июля
				a(class="day__timetable", id="open__modal", href="#null") 10:00 - 11:00
				a(class="day__timetable", id="open__modal", href="#null") 11:15 - 12:15
				a(class="day__timetable", id="open__modal", href="#null") 12:30 - 13:30
				a(class="day__timetable", id="open__modal", href="#null") 13:45 - 14:45
				a(class="day__timetable", id="open__modal", href="#null") 15:00 - 16:00
				a(class="day__timetable", id="open__modal", href="#null") 16:15 - 17:15
				a(class="eventide__timetable", id="open__modal", href="#null") 17:30 - 18:30
				a(class="eventide__timetable", id="open__modal", href="#null") 18:45 - 19:45
				a(class="eventide__timetable", id="open__modal", href="#null") 20:00 - 21:00
				a(class="nigth__timetable", id="open__modal", href="#null") 21:15 - 22:15
				a(class="nigth__timetable", id="open__modal", href="#null") 22:30 - 23:30

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") Ср, 3 июля
				a(class="day__timetable", id="open__modal", href="#null") 10:00 - 11:00
				a(class="day__timetable", id="open__modal", href="#null") 11:15 - 12:15
				a(class="day__timetable", id="open__modal", href="#null") 12:30 - 13:30
				a(class="day__timetable", id="open__modal", href="#null") 13:45 - 14:45
				a(class="day__timetable", id="open__modal", href="#null") 15:00 - 16:00
				a(class="day__timetable", id="open__modal", href="#null") 16:15 - 17:15
				a(class="eventide__timetable", id="open__modal", href="#null") 17:30 - 18:30
				a(class="eventide__timetable", id="open__modal", href="#null") 18:45 - 19:45
				a(class="eventide__timetable", id="open__modal", href="#null") 20:00 - 21:00
				a(class="nigth__timetable", id="open__modal", href="#null") 21:15 - 22:15
				a(class="nigth__timetable", id="open__modal", href="#null") 22:30 - 23:30

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") Чт, 4 июля
				a(class="day__timetable", id="open__modal", href="#null") 10:00 - 11:00
				a(class="day__timetable", id="open__modal", href="#null") 11:15 - 12:15
				a(class="day__timetable", id="open__modal", href="#null") 12:30 - 13:30
				a(class="day__timetable", id="open__modal", href="#null") 13:45 - 14:45
				a(class="day__timetable", id="open__modal", href="#null") 15:00 - 16:00
				a(class="day__timetable", id="open__modal", href="#null") 16:15 - 17:15
				a(class="eventide__timetable", id="open__modal", href="#null") 17:30 - 18:30
				a(class="eventide__timetable", id="open__modal", href="#null") 18:45 - 19:45
				a(class="eventide__timetable", id="open__modal", href="#null") 20:00 - 21:00
				a(class="nigth__timetable", id="open__modal", href="#null") 21:15 - 22:15
				a(class="nigth__timetable", id="open__modal", href="#null") 22:30 - 23:30

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") Пт, 4 июля
				a(class="day__timetable", id="open__modal", href="#null") 10:00 - 11:00
				a(class="day__timetable", id="open__modal", href="#null") 11:15 - 12:15
				a(class="day__timetable", id="open__modal", href="#null") 12:30 - 13:30
				a(class="day__timetable", id="open__modal", href="#null") 13:45 - 14:45
				a(class="day__timetable", id="open__modal", href="#null") 15:00 - 16:00
				a(class="day__timetable", id="open__modal", href="#null") 16:15 - 17:15
				a(class="eventide__timetable", id="open__modal", href="#null") 17:30 - 18:30
				a(class="eventide__timetable", id="open__modal", href="#null") 18:45 - 19:45
				a(class="eventide__timetable", id="open__modal", href="#null") 20:00 - 21:00
				a(class="nigth__timetable", id="open__modal", href="#null") 21:15 - 22:15
				a(class="nigth__timetable", id="open__modal", href="#null") 22:30 - 23:30

			// end block__timetable

			div(class="block__timetable")
				p(class="date__timetable") Сб, 5 июля
				a(class="day__timetable", id="open__modal", href="#null") 10:00 - 11:00
				a(class="day__timetable", id="open__modal", href="#null") 11:15 - 12:15
				a(class="day__timetable", id="open__modal", href="#null") 12:30 - 13:30
				a(class="day__timetable", id="open__modal", href="#null") 13:45 - 14:45
				a(class="day__timetable", id="open__modal", href="#null") 15:00 - 16:00
				a(class="day__timetable", id="open__modal", href="#null") 16:15 - 17:15
				a(class="eventide__timetable", id="open__modal", href="#null") 17:30 - 18:30
				a(class="eventide__timetable", id="open__modal", href="#null") 18:45 - 19:45
				a(class="eventide__timetable", id="open__modal", href="#null") 20:00 - 21:00
				a(class="nigth__timetable", id="open__modal", href="#null") 21:15 - 22:15
				a(class="nigth__timetable", id="open__modal", href="#null") 22:30 - 23:30

			// end block__timetable

		// end block__entry

		// start block__entry_price

		div(class="block__entry_price")
			div(class="price__notConfirmed")
				span(class="item__notConfirmed") 
				p(class="price__text") Ожидает подтверждения
			div(class="price__dey")
				span(class="item__dey")
				p(class="price__text") 350грн
			div(class="price__eventide")
				span(class="item__eventide")
				p(class="price__text") 400грн
			div(class="price__nigth")
				span(class="item__nigth")
				p(class="price__text") 500грн

		// end block__entry_price

	// end container

