footer(class="footer")
	div(class="container")
		// start container
		div(class="row")
			// start row
			div(class="col-xs-12 col-md-12 col-lg-6")
				// start 
				img(class="images" src="images/title__images.png", alt="icon__logo")
				p(class="description__footer_text") Очнулись с друзьями в помещении... Заперто! Огляделись вокруг - интструменты, халаты, хирургические инструмиенты. Что же это? Операционная, логово маньяка или подпольная больница? Таймер начал отсчёт, и лучше бы успеть...
				button(class="more__button") подробнее
				// end
			div(class="col-xs-12 col-md-12 col-lg-6 evaluation__footer")
				// start
				img(src="images/rating.png", alt="rating")
				p(class="evaluation__text") Рейтинг на основе 3 оценок 
	script(src="js/libs.min.js")
	script(src="js/jquery.min.js")
	script(src="js/common.js")
	script(src="vendor/slick-carousel/slick/slick.min.js")
	script(src="vendor/jquery-validation/dist/jquery.validate.min.js")
				// end 
			// end row
		// end container