header.header

	// start container

	div.container
		a(class="header__logo" href="index.html")
			img(src="images/logo.png", alt="icon__logo")
		a(class="toggle__nav" href="#")
			span 
			span 
			span 

		// start menu

		nav.header__menu
			ul.active
				li
					a(href="#") квест-комнаты
				li
					a(href="#") сертификат
				li
					a(href="#") акции
				li
					a(href="#") контакты
				span (063) 10-70-380

		// end menu

	div.container

		// start header__content

		div.header__content
			h1(class="header__title") Квест-комнаты в Харькове
			img(class="images" src="images/title__images.png", alt="icon__logo")

			// start row

			div.row

				// start column bootstrap

				div(class="col-xs-12 col-md-8 col-lg-8")
					div(class="container__description")
						div(class="block__description")
							p(class="header__paragraph") Жителей нашего города преследует один и тот же кошмар: во снах за ними крадется жуткий, обезображенный убийца — Фредди Крюгер. Они могут защитить друг друга наяву, во сне же — остаются один на один с ожившим кошмаром, и шансы спастись стремительно приближаются к нулю…  Единственный способ защититьщититься - побороть его во сне и проснуться за 60 минут... 
							button(class="header__button_reviews") отзывы о комнате
							button(class="header__button_entry") записатся на игру
				div(class="col-xs-12 col-md-4 col-lg-4")
					div(class="container__reulation")
						div(class="block__regulations")
							img(class="icon__human" src="images/icon.png", alt="icon")
							p(class="description__header_content" ) 2-4 допустимое<br/> количество игроков
							img(class="icon__clock" src="images/icon__clock.png", alt="icon")
							p(class="description__header_content" ) 60 минут дается на игру

				// end column bootstrap

			// end row

		// end header__content
		
	// end container

