div(class="modal")
	div(class="modal__content")
		form(class="modal__form")
			div(class="close__modal clearfix")
				span(class="close") 
					img(src="images/close.png", alt="close")
			h2(class="title title__form") Написать письмо
			div(class="form__body")
				div(class="form__input")
					label(for="#" class="label__name") 
						span(class="form__span_text")
							| Введите ваше имя
						input(type="text" class="modal__input_text" name="name" placeholder="Имя")
				div(class="form__input")
					label(for="#" class="label__email")
						span(class="form__span_text")
							| Введите ваш e-mail 
						input(type="email" class="modal__input_email" name="email" placeholder="e-mail")
				div(class="form__input")
					label(for="#" class="label__tel")
						span(class="form__span_text")
							| Введите ваш номер телефона 
						input(type="tel" class="modal__input_tel" name="tel" placeholder="0(00)000 00 00")
				textarea(class="modal__mesege" name="textarea" placeholder="Что вы хотите написать?") 
			div(class="botton__block_form")
				button(class="button__form_send") забронировать комнату		
			div
				p(class="modal__form_text") Введенные данные строго конфиденциальны.