section(class="photo__section")

	// start container

	div(class="container")
		h1(class="title") #{titlePhotoSection}

		// start block photo

		div(class="container__phto")
			div(class="photo__images")
				a(href="images/photo1.png" class="imageModal")
					img(src="images/photo1.png", alt="photo room")
			div(class="photo__images")
				a(href="images/photo2.png" class="imageModal")
					img(src="images/photo2.png", alt="photo room")
			div(class="photo__images")
				a(href="images/photo3.png" class="imageModal")
					img(src="images/photo3.png", alt="photo room")
			div(class="photo__images")
				a(href="images/photo4.png" class="imageModal")
					img(src="images/photo4.png", alt="photo room")
					
		// end block photo

	// end container