section(class="photo__section")

	// start container

	div(class="container")
		h1(class="title") Фотографии

		// start block photo

		div(class="container__phto")
			div(class="photo__images")
				img(src="images/photo1.png", alt="photo room")
			div(class="photo__images")
				img(src="images/photo2.png", alt="photo room")
			div(class="photo__images")
				img(src="images/photo3.png", alt="photo room")
			div(class="photo__images")
				img(src="images/photo4.png", alt="photo room")
					
		// end block photo

	// end container