section(class="section__question")
	div(class="container")
		// start container
		div(class="row")
			// start row
			div(class="col-xs-12 col-md-12 col-lg-6 description__question")
				// start description__question
				h2(class="title__question") У вас остались вопросы?
				p Вы можете позвонить нам по телефону <span> +38 (063) 10 - 70 - 380 
				p или написать письмо, нажав на кнопку с права
				// end description__question
			div(class="col-xs-12 col-md-12 col-lg-6 block__question_button")
				// start block__question_button
				button(class="btn__question") написать письмо
				// end lock__question_button
			// end row
		// end container