section(class="reviews__section")
	// start container

	div(class="container")
		h1(class="title title__entry") Что о нас говорят

		div(class="reviews__carousel")
			div(class="reviews__content_block")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") Иван Петрович
					p(class="reviews__date") 11 марта 2014 в 14:34
				div(class="reviews__description")
					p Очень классное времяпровождение. Впервые проходили квест-комнату и остались довольные. Через время решили вернуться и покорить ещеодну, не менее интересную. Комнаты абсолютно разные, но удовольствие от участия остается одинаковое :) А сколько радости, когда в конце-концов удается выйти из комнаты..))) Очень круто!))
			div(class="reviews__content_block margin__content")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") Иван Петрович
					p(class="reviews__date") 11 марта 2014 в 14:34
				div(class="reviews__description")
					p Очень классное времяпровождение. Впервые проходили квест-комнату и остались довольные. Через время решили вернуться и покорить ещеодну, не менее интересную. Комнаты абсолютно разные, но удовольствие от участия остается одинаковое :) А сколько радости, когда в конце-концов удается выйти из комнаты..))) Очень круто!))
			div(class="reviews__content_block")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") Иван Петрович
					p(class="reviews__date") 11 марта 2014 в 14:34
				div(class="reviews__description")
					p Очень классное времяпровождение. Впервые проходили квест-комнату и остались довольные. Через время решили вернуться и покорить ещеодну, не менее интересную. Комнаты абсолютно разные, но удовольствие от участия остается одинаковое :) А сколько радости, когда в конце-концов удается выйти из комнаты..))) Очень круто!))	
			div(class="reviews__content_block margin__content")
				div(class="content clearfix")
					img(src="images/photo__reviews.jpg", alt="photo")
					p(class="reviews__name") Иван Петрович
					p(class="reviews__date") 11 марта 2014 в 14:34
				div(class="reviews__description")
					p Очень классное времяпровождение. Впервые проходили квест-комнату и остались довольные. Через время решили вернуться и покорить ещеодну, не менее интересную. Комнаты абсолютно разные, но удовольствие от участия остается одинаковое :) А сколько радости, когда в конце-концов удается выйти из комнаты..))) Очень круто!))
	// end container
