- var titleEntrySection = "Записаться на игру" ;
- var dateEntrySectionMonday = "Пн, 1 июля";
- var dateEntrySectionTuesday = "Вт, 2 июля";
- var dateEntrySectionWednesday = "Ср, 3 июля";
- var dateEntrySectionThursday = "Чт, 4 июля";
- var dateEntrySectionFriday = "Пт, 4 июля";
- var dateEntrySectionSaturday = "Сб, 5 июля";
- var morningEntrySection1 = "10:00 - 11:00";
- var morningEntrySection2 = "11:15 - 12:15";
- var afternoonEntrySection1 = "12:30 - 13:30";
- var afternoonEntrySection2 = "13:45 - 14:45";
- var afternoonEntrySection3 = "15:00 - 16:00";
- var afternoonEntrySection4 = "16:15 - 17:15";
- var eveningEntrySection1 = "17:30 - 18:30";
- var eveningEntrySection2 = "18:45 - 19:45";
- var eveningEntrySection3 = "20:00 - 21:00";
- var nightEntrySection1 = "21:15 - 22:15";
- var nightEntrySection2 = "22:30 - 23:30";

- var title = "Квест-комнаты Харькова";
- var titleSection = "Квест-комнаты Харькова";
- var titleReviews = "Что о нас говорят";
- var nameReviewsBlock = "Иван Петрович";
- var dateReviewsBlock = "11 марта 2014 в 14:34";
- var descriptionReviewsBlock = "Очень классное времяпровождение. Впервые проходили квест-комнату и остались довольные. Через время решили вернуться и покорить ещеодну, не менее интересную. Комнаты абсолютно разные, но удовольствие от участия остается одинаковое :) А сколько радости, когда в конце-концов удается выйти из комнаты..))) Очень круто!))";
